.layman{
    display: flex;
    flex-direction: row;
    width:100%;
    align-items: center;
    justify-content:center;
}

.pageTitle{
    color:white;
    font-size: 40px;
    position: relative;
    top:-40px;
    text-align: center
}
.guages{
    display: flex;
    flex-direction: row;
}
.table{
    position: relative;
    color:white;
}

.table th, td {
    border-bottom: 1px solid #ddd;
    padding-top:20px;
    text-align: left;
    width:155px;
  }

  .minionsLeft{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  .minionsRight{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .minionsBottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .minionsBottom .minion{
    margin-left: 20px;
  }
  .minion{
      height: 150px;
      width:150px;
      margin-top: 10px;
  }