.overview{
    padding: 45px;
    overflow: hidden;
}
.heading-overview{
    color: rgba(255,255,255);
    font-size: 35px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.heading-overview::after{
    content: " ";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #0ed4e8;
    top: 96px;
    left: 46px;
}
.text-matter{
    color: white;
    text-align: justify;
    margin-top: 20px;
    font-size: 20px;
    opacity: 0.7;
}