.policymaker{
    display: flex;
    flex-direction: row;
    width:100%;
    flex-flow: row wrap;
    justify-content:center;
}
.pageTitle{
    text-align: center;
}

.pieChart{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}