.Pie{
    border: 3px;
    border-radius: 10px;
    background-color:#282f3d;
    max-width: 650px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
}

.heading{
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.data-name{
    text-transform: uppercase;
}
.dataValue{
    display: flex;
}

.sensor-data{
    display: flex;
}

.chart-wrapper{

}

.dataDotOrange{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    top: 7px;
    position: relative;
    margin-left: 10px;
    background-color: #febb34;
}

.dataDotBlue{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    top: 7px;
    position: relative;
    margin-left: 10px;
    background-color: #0887fa;
}

.dataDotGreen{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    top: 7px;
    position: relative;
    margin-left: 10px;
    background-color:#52c49f;
}

.data-value{
    width: 100%;
    margin-left: 100px;
}