@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
body {
  margin: 0;
  padding: 0;
  font-family: Noto Sans JP;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#232937;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}